@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  font-family: Manrope;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

code {
  font-family: Manrope;
}